/*------------ VARIABLES ------------*/
:root {
    --color-primary-brand-iris: #4D5AE5;
    --color-pressed-state-ocean: #404BBF;
    --color-dark-navy-blue: #2E2F42;
    --color-success-green: #31D0AA;
    --color-text-slate: #434455;
    --color-subtle-text-light-slate: #8E8F99;
    --color-accent-cornflower: #E7E9FC;
    --color-light-cloud: #F4F4FD;
    --color-modal-overlay-navy-blue-modal: #2E2F4240;
    --color-hero-background-grey: #2E2F4270;
    --color-white-background-white: #FFFFFF;
    --color-modal-background-dairy: #FCFCFC;

    --font-primary: "Roboto", sans-serif;
    --font-logo: "Raleway", sans-serif;

    --font-weight-primary-regular: 400;
    --font-weight-primary-medium: 500;
    --font-weight-primary-bold: 700;
    --font-weight-primary-black: 900;

    --font-weight-logo-extrabold: 800;

    --letter-spacing-main: .02em;
    --letter-spacing-small: .04em;
}
/*------------ /VARIABLES ------------*/

/*------------ NORMOLIZING ------------*/
/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    /* list-style-type: none; */
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 100vh;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*------------ /NORMOLIZING ------------*/

/*------------ GENERAL ------------*/
body {
    color: var(--color-text-slate);
    background-color: var(--color-white-background-white);
    font-family: var(--font-primary);
}

.header-one {
    font-weight: var(--font-weight-primary-bold);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: var(--letter-spacing-main);
    text-align: center;
}

.header-two {
    color: var(--color-dark-navy-blue);
    font-weight: var(--font-weight-primary-bold);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: var(--letter-spacing-main);
}

.header-three {
    color: var(--color-dark-navy-blue);
    font-weight: var(--font-weight-primary-medium);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing-main);
}

.text-body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-main);
}

.text-small-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: var(--letter-spacing-small);
}

.text-body-medium {
    font-weight: var(--font-weight-primary-medium);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-main);
}

.text-button-text {
    font-weight: var(--font-weight-primary-medium);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-small);
}

.text-link-text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: var(--letter-spacing-small);
    text-decoration: underline;
}

.link {
    text-decoration: none;
}

.link p {
    color: var(--color-text-slate);
}

.list {
    list-style: none;
}

.text-header {
    text-transform: capitalize;
    text-align: center;
}


/*------------ LOGO ------------*/
.logo {
    color: var(--color-primary-brand-iris);
    font-family: var(--font-logo);
    font-size: 18px;
    line-height: 1.17;
    font-weight: var(--font-weight-logo-extrabold);
    letter-spacing: .03em;
    text-transform: uppercase;
}


/*------------ HEADER ------------*/
.page-header {
    display: flex;
    justify-content: center;
    color: var(--color-dark-navy-blue);
    border: 1px solid var(--color-accent-cornflower);
}

.page-header .container {
    display: flex;
    flex-basis: 100%;
    max-width: 1128px;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.navigation {
    display: flex;
    gap: 76px;
    height: inherit;
    /* justify-content: space-between; */
}

.address {
    display: flex;
    height: inherit;
}

.navigation .logo {
    display: flex;
    height: inherit;
    align-items: center;
}

.nav-list,
.address-list {
    display: flex;
    gap: 40px;
    height: inherit;
    align-items: center;
}

.nav-menu {
    color: var(--color-dark-navy-blue);
}

.nav-menu:hover,
.nav-menu:focus {
    color: var(--color-pressed-state-ocean);
}

.address {
    font-style: normal;
}

.nav-address {
    display: flex;
    color: var(--color-text-slate);
}

.nav-address:hover,
.nav-address:focus {
    color: var(--color-pressed-state-ocean);
}

.page-header .logo-tail {
    color: var(--color-dark-navy-blue);
}
/*------------ /HEADER ------------*/


/*------------ FOOTER ------------*/
.page-footer {
    display: flex;
    justify-content: center;
    color: var(--color-light-cloud);
    background-color: var(--color-dark-navy-blue);
}

.page-footer .container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 1128px;
    height: 312px;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.page-footer .footer-slogan {
    width: 264px;
}

.page-footer .logo-tail {
    color: var(--color-light-cloud);
}
/*------------ /FOOTER ------------*/

/*------------ BUTTONS ------------*/
.btn {
    font-family: var(--font-primary);
    cursor: pointer;
}

.filter-btn {
    color: var(--color-primary-brand-iris);
    background-color: var(--color-light-cloud);
    border: 1px solid var(--color-accent-cornflower);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--color-white-background-white);
    background-color: var(--color-pressed-state-ocean);
    border: 1px solid var(--color-pressed-state-ocean);
}

.cta-btn {
    color: var(--color-white-background-white);
    background-color: var(--color-primary-brand-iris);
    border: 1px solid var(--color-primary-brand-iris);
}

.cta-btn:hover,
.cta-btn:focus {
    color: var(--color-white-background-white);
    background-color: var(--color-pressed-state-ocean);
    border: 1px solid var(--color-pressed-state-ocean);
}


/*------------ HERO-SCREEN ------------*/
.hero-screen {
    color: var(--color-white-background-white);
    background-color: var(--color-dark-navy-blue);
}


/*------------ TEAM-SCREEN ------------*/
.team-screen {
    background-color: var(--color-light-cloud);
}

.team-member {
    background-color: var(--color-white-background-white);    
}
